
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
  }

  * {
    @apply transition-all duration-250 ease-out;
  }
  
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply font-sans text-gray-900 antialiased;
  }
}